<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="idMaquinaInstancia" value="1" />
    <add key="APIResponse_OK" value="200" />
    <add key="APIResponse_BR" value="400" />
    <add key="URLBaseRemosAPI" value="https://giu.cl/RemosAPI/" />
    <!--<add key="URLBaseRemosAPI" value="http://localhost/RemosAPI/" />-->
    <add key="Frecuencia_Timer" value="1" />
    <!-- Minutos -->
    <add key="Frecuencia_ServiciosActivos" value="4" />
    <!-- Horas -->
    <add key="Frecuencia_GetPutSpool" value="2" />
    <!-- Minutos -->
    <add key="Frecuencia_SendTransactions" value="3" />
    <!-- Minutos -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>